
<table id="others">
  <tr>
    <th>Title</th>
	 <th>Image</th>
	 <th>Actions</th>
  </tr>

<% for work in @works %>
  <tr>
    <td><%= limit_to(30, work.headline) %></td>
	 <td><%= image_tag "/works/thumb/#{work.id}" %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Work', new_work_path %>
<br>
<%= link_to 'Back', {:action => "show", }  %>


